
    .header {
    padding: 300px;
    text-align: center;
    background: rgba(254, 240, 71, 0.3);
    color: black;
    padding-bottom: 40px; 

    }

    .header img {
    float: center;
    width: 400px;
    max-width: 100%;
    min-width: 130px;

    }

    .photo img {
    max-width: 100%;
    float: center;
    }


    body {
    font-family: sans-serif
    }

    /* style the button */

    section {
        padding: 50px;
        text-align: center;
        color: grey;
    }


    /* Style the header */
    h1 {
      margin: 30px;
      color: black;
      font-size: 40px
    }

    h2 {
        margin: 30px;
        flex-direction: column;
    }

    h3 {
        padding: 10px;
        text-align: center;
        flex-direction: column;
        }

    h4 {
        font-family: Verdana;
        font-size: 20px;
        text-align: center;
        }

    /* Style the content*/
    p{
      margin: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }



    /* Style the list inside the menu */
    nav ul {
      list-style-type: none;
    }


    ul {
    margin: 20px;*/
    padding: 10px;
    font-size: 15px;
    }